@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Helvetica;
    box-sizing: border-box;
}

#bodycontato{
    background-color: black;
    padding: 1rem;
}

#titulocontato{
    text-align: center;
    color: yellow;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 500px;
    margin: 0 auto;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 1.1rem;
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e99a3f;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 20px;
}