#bodylogin{
    background-color: black;
    margin: 0;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.left-login > h1 {
    font-size: 3vw;
    color: #e99a3f;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.left-login-img{
    width: 30vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #e99a3f;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #e99a3f86;
    font-family: "Montserrat", sans-serif;
}

.card-login > h1{
    color: #000000;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    font-family: "Montserrat", sans-serif;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #0000004b;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 50px #0000005d;
    outline: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.textfield > label{
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

.textfield > input::placeholder{
    color: #00000088;
}

.btn-login{
    background: black;
    font-family: "Montserrat", sans-serif;
    width: 568px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #e99a3f;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000050;
}

#botaohome{
    text-decoration: none;
    background: black;
    font-family: "Montserrat", sans-serif;
    padding: 16px 230px;
    margin: -50px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #e99a3f;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000050;
    border-radius: 5px;
}