@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#btnquiz {
    margin: 20px;
    width: 55px;
    height: 50px;
    border: solid 1px #e99a3f;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    background-color: #e99a3f;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

#btnquiz:hover {
    background-color: white;
    color: #e99a3f;
    transform: scale(1.2);
    text-decoration: none;
}


#bodyquiz {
    background-color: black;
    font-size: 30px;
    color: aqua;
    text-align: center;
}

#tituloquiz {
    color: #e99a3f;
    font-family: "Montserrat", sans-serif;
    /*text-decoration: none;*/
}

#msg {
    background-image: linear-gradient(to right, crimson, purple);
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Montserrat", sans-serif;
}

#quizfoto {
    width: 500px;
    height: 450px;
}