@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

#bodysobre{
    background-color: black;
}

#titulosobre {
    text-align: center;
    color: #e99a3f;
    margin: 20px;
    font-family: "Montserrat", sans-serif;
}

.fotoloja{
    width: 500px;
    height: 100%;
    border-radius: 25px;
}

#divsobre {
    margin: 20px 100px;
    display: flex;
    justify-content: space-around;
    color: white;
    background: #e99a3f;
    border-radius: 30px;
}

#divsobre p {
    margin: 50px;
}

#pfsobre1{
    color: white;
    font-weight: 800;
    text-indent: 1em;
    font-family: "Montserrat", sans-serif;
}

#pfsobre2{
    color: white;
    font-weight: 800;
    text-indent: 1em;
    font-family: "Montserrat", sans-serif;
}

.boxbotao{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    font-family: "Montserrat", sans-serif;
}

#botaohomesobre{
    width: 55px;
    height: 50px;
    border: solid 1px #e99a3f;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    background-color: #e99a3f;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

#botaohomesobre:hover{
    background-color: white;
    color: #e99a3f;
    transform: scale(1.2);
}


#logosobre {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}