@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS DA PAGINA PRINCIPAL*/

*{
    color: white;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#bodyindex{
    background-color: black;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    background-color: black;
    padding: 20px 0;
}

.logo{
    width: 50%;
}

.menu{
    width: 50%;
    text-align: center;
    padding-top: 23px;
}

.menu a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-family: "Montserrat", sans-serif;
}

.cor{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid gray;
    background: #808080;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.cor:hover{
    background: gray;
    transform: scale(1.2);
}

#imgbanner{
    width: 100%;
    height: 400px;
}

footer{
    background-color: black;
    text-align: center;
    color: #e99a3f;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.slide {
    position: relative;
    overflow: hidden;
    bottom: 100px;
    margin-top: 100px;
    width: 15%px; 
    height: 350px; 
    margin-right: 20px; 
    margin-bottom: 10px; 
    background-color: #ddd;
    flex: 0 0 auto;
    margin-left: 20px;
}
.slide1{
    position: relative;
    overflow: hidden;
    bottom: 100px;
    margin-top: 100px;
    width: 15%px; 
    height: 350px; 
    margin-right: 20px; 
    margin-bottom: 10px; 
    background-color: #ddd;
}
.slide2{
    position:relative;
    overflow: hidden;
    bottom: 100px;
    margin-top: 100px;
    width: 15%px; 
    height: 350px; 
    margin-right: 20px; 
    margin-bottom: 10px; 
    background-color: #ddd;
}
.slide3{
    position: relative;
    overflow: hidden;
    bottom: 100px;
    margin-top: 100px;
    width: 15%px; 
    height: 350px; 
    margin-right: 20px; 
    margin-bottom: 10px; 
    background-color: #ddd;

}
.bicicleta{
    flex-wrap: wrap;
    display: flex;
    overflow-x: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
    margin-top: 30px;
    position: relative;
    text-align: center;
}
.clearfix {
    clear: both;
}

.bicicleta1, .bicicleta2, .bicicleta3, .bicicleta4 {
    position: relative; 
}

.slide-title {
    font-size: 14px;
    text-align: center;
    max-width: 200px;
    position: absolute; 
    bottom: 100px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: green;
}
.slide-title1{
    
    font-size: 14px;
    text-align: center;
    max-width: 200px;
    position: relative; 
    bottom: 50px; 
    margin: 0 auto; 
    color: green;
}

.slide-title2{
    
    font-size: 14px;
    text-align: center;
    max-width: 200px;
    position: relative; 
    bottom: 40px; 
    margin: 0 auto; 
    color: green;
}






